@font-face {
  font-family: "JetBrains Mono Variable";
  src: url("/fonts/JetBrainsMono-Variable.ttf") format("truetype");
}

/* 
layout {
  display/layout
  display/layout config

  color
  font
  border
  other

  size
  padding
  margin
  other

  other
}
*/

:root {
  --bg: #282828;
  --panel-bg: #1d2021;
  --text: #ebdbb2;
  --font: "JetBrains Mono Variable", monospace;
  --font-size: 18px;
  --module-border: #504945;
  --module-title: #665c54;
  --module-size: 2px;

  --small-padding: 10px;
  --padding: 15px;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--padding);

  background-color: var(--panel-bg);

  padding: var(--padding);
  /* doesn't look right without this */
  padding-top: 5px;
}

fieldset {
  background-color: var(--panel-bg);
  border: var(--module-size) solid var(--module-border);

  margin: 0;
}

legend {
  color: var(--module-title);
  font-weight: bold;
  font-size: var(--font-size);

  padding: 0 var(--small-padding);
  /* title doesn't quite align without this */
  padding-bottom: 3px;
}
