@font-face {
  font-family: "JetBrains Mono Variable";
  src: url("/fonts/JetBrainsMono-Variable.ttf") format("truetype");
}

/* 
layout {
  display/layout
  display/layout config

  color
  font
  border
  other

  size
  padding
  margin
  other

  other
}
*/

:root {
  --bg: #282828;
  --panel-bg: #1d2021;
  --text: #ebdbb2;
  --muted-text: #a89984;
  --dark-text: #d5c4a1;
  --module-border: #504945;
  --module-title: #665c54;
  --link: #458588;
  --link-visited: #b16286;
  --font: "JetBrains Mono Variable", monospace;
  --font-size: 16px;
  --header-font-size: 20px;
  --larger-font-size: 18px;
  --module-size: 2px;

  --page-max-width: 825px;
  --small-padding: 10px;
  --padding: 15px;
}

/* generic */
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
}

#app {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--padding);
  box-sizing: border-box;

  background-color: var(--panel-bg);

  max-width: var(--page-max-width);
  padding: var(--padding);
  /* doesn't look right without this */
  padding-top: 5px;
  /* center */
  margin: auto;
}

fieldset {
  background-color: var(--panel-bg);
  border: var(--module-size) solid var(--module-border);

  margin: 0;
  padding: var(--padding);
  padding-top: 0;
}

legend {
  color: var(--module-title);
  font-weight: bold;
  font-size: var(--larger-font-size);

  padding: 0 var(--small-padding);
  /* title doesn't quite align without this */
  padding-bottom: 3px;
}

h1 {
  font-size: var(--header-font-size);

  margin: 0;
  margin-bottom: var(--padding);
}

h2 {
  font-size: var(--larger-font-size);

  margin: 0;
  margin-bottom: var(--padding);
}

h3 {
  font-size: var(--font-size);
}

p {
  margin: 0;
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

hr {
  color: var(--module-title);
  /* border-width: var(--module-size); */
  border-style: solid;
}

/* utility helpers */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-grow-children > * {
  flex-grow: 1;
}

.flex-equal-children > * {
  flex: 1 1 0px;
}

.grid-column-span-full {
  grid-column: span 6;
}

.gap {
  gap: var(--padding);
}

.muted {
  color: var(--muted-text);
}

.dark {
  color: var(--dark-text);
}

.margin-none {
  margin: 0;
}

.position-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

/* other stuff */

.iframe-hack {
  animation: iframe-hack 2s;
  animation-fill-mode: forwards;
}

@keyframes iframe-hack {
  from {
    position: absolute;
    top: 1000000px;
    left: 1000000px;
  }

  to {
    position: static;
  }
}