<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 page not found :(</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="left">
        <h1>404</h1>
        <h2>page not found</h2>
        <div class="terminal">
          <div>[guest@v8p /]$ cd ~{path}</div>
          <div>
            bash: cd: /home/v8p{path}:
            <span class="strong">No such file or directory</span>
          </div>
          <div>[guest@v8p /]$ cd ~</div>
          <div><a class="strong" href="/">→ return home</a></div>
          <div>[guest@v8p ~]$ <span class="cursor">&nbsp;</span></div>
        </div>
      </div>

      <div class="right">
        <pre>
          ╱|、
        (˚ˎ 。7
         |、˜〵
         じしˍ,)ノ</pre
        >
      </div>
    </div>
  </body>
</html>
