<!DOCTYPE html>
<html lang="en" class="size-unset">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="size-unset">
    <form action="/chatbox" method="post" class="flex width-full">
      <input
        type="text"
        name="message"
        id="message"
        class="flex-grow border-tr"
        placeholder="enter message..."
        autofocus="true"
        autocomplete="off"
      />
      <button type="submit" class="border-t">send</button>
    </form>
  </body>
</html>
