<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sent!</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      pre {
        font-weight: 1000;
        font-size: 20px;
        line-height: 1.4em;
        text-align: left;
        align-self: center;
      }

      fieldset {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body class="center-text">
    <div id="app">
      <fieldset class="grid-column-span-full">
        <legend>umm idk</legend>
        <h1>message sent!!</h1>
        <p>i don't know what else to put here. enjoy some catscii art</p>
        <pre class="muted">
   ╱|、
 (˚ˎ 。7
  |、˜〵
  じしˍ,)ノ</pre
        >
        <a href="/">go back</a>
      </fieldset>
    </div>
  </body>
</html>
